/* this is my css file */

/* --    -- */
.nav-pills .nav-link:hover,.nav-pills .nav-link:focus{
	background-color:rgba(42,42,42,.1);
}
.jumbotron{
	min-height:300px;
}
nav{
	margin-bottom:1em;
}
body{
	font-family:Calibri;
}
h1, h2, h3, h4, h5, h6, .nav-link.active:hover {
	color:#007bff;
}
.flogin{
	padding-top:100px;
	margin:0 auto;
	width:100%;
}
.flogin form{
	margin:0 auto;
	max-width:260px;
}
.uform{
	max-width: 300px;
	margin-right:auto;
	margin-left:auto;
}
/* пользователи */
.page-products {
  flex-grow: 1;
  margin: 0 auto;
  padding-top: 55px;
  padding-bottom: 110px;
 /*  width: 970px;  */}
  .page-products__list {
    margin: 0;
    margin-top:12px;
    padding: 0;
    list-style: none; }
  .page-products__item:not(:last-child) {
    margin-bottom: 12px; }
  .page-products__header {
    display: flex;
    padding: 0 30px;
    margin-bottom: 10px; }
  .page-products__header-field {
    display: inline-block;
    width: 200px;
    margin-right: 30px; }
    .page-products__header-field:first-child {
      margin-right: 50px; }
  .page-products__button {
    margin-bottom: 30px; }

.product-item {
  display: flex;
  align-items: center;
  padding: 20px 30px;
  background-color: #EFF1F8; }
  .product-item__name {
    width: 200px;
    margin-right: 50px; }
  .product-item__field {
    width: 180px;
    margin-right: 30px; }
  .product-item__delete {
    border: 0;
    padding: 0;
    font: inherit;
    background-color: transparent;
    margin-left: auto;
    width: 24px;
    height: 24px;
   /*  background: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M26.5459 9.54594L24.4246 7.42462L17 14.8492L9.57538 7.42462L7.45406 9.54594L14.8787 16.9706L7.45406 24.3952L9.57538 26.5165L17 19.0919L24.4246 26.5165L26.5459 24.3952L19.1213 16.9706L26.5459 9.54594Z' fill='%23FF0000'/%3E%3C/svg%3E%0A") center no-repeat; */
    background: url("../img/close_icon.png") center no-repeat;
    background-size: contain;
    cursor: pointer; }
    .product-item__delete:focus {
      outline: none; }
  .product-item__edit {
    width: 28px;
    height: 28px;
    /* background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 55.25 55.25'%3E%3Cpath d='M52.618 2.631c-3.51-3.508-9.219-3.508-12.729 0L3.827 38.693c-.017.017-.027.038-.042.056-.021.024-.039.05-.058.076a.972.972 0 0 0-.125.239c-.009.026-.022.049-.029.075l-.012.03-3.535 14.85a.991.991 0 0 0-.022.202c0 .013-.004.025-.004.038a.995.995 0 0 0 .095.403c.049.107.11.21.196.296a1.006 1.006 0 0 0 .938.266l14.85-3.535c.027-.006.051-.021.077-.03a.985.985 0 0 0 .3-.162c.024-.019.049-.033.072-.054.008-.008.018-.012.026-.02L52.617 15.36c3.51-3.51 3.51-9.22.001-12.729zm-1.414 1.414c2.488 2.489 2.7 6.397.65 9.137l-9.787-9.787c2.741-2.05 6.649-1.838 9.137.65zm-4.95 14.85l-9.9-9.9 1.414-1.414 9.9 9.9-1.414 1.414zM4.961 50.288a.999.999 0 0 0-1.414 0l-.757.757 2.554-10.728 4.422-.491-.569 5.122c-.004.038.01.073.01.11 0 .038-.014.072-.01.11.004.033.021.06.028.092a1.016 1.016 0 0 0 .245.473c.048.051.1.094.157.134.045.031.088.06.138.084.066.031.135.049.207.066.038.009.069.03.108.035a.982.982 0 0 0 .109.006h.004a.995.995 0 0 0 .109-.006l5.122-.569-.491 4.422-10.729 2.554.757-.757a1 1 0 0 0 0-1.414zm12.55-5.479L39.889 22.43a.999.999 0 1 0-1.414-1.414L16.097 43.395l-4.773.53.53-4.773 22.38-22.378a.999.999 0 1 0-1.414-1.414L10.44 37.738l-3.183.354L34.94 10.409l9.9 9.9-27.683 27.683.354-3.183zm31.571-28.742l-9.9-9.9 1.415-1.415 9.9 9.9-1.415 1.415z'/%3E%3C/svg%3E") center no-repeat; */
    background: url("../img/edit_icon.png") center no-repeat;
    background-size: contain; }
/* список заказов */
ul.page-order__list, ul.page-product__list{
list-style-type: none;
}
.page-order {
  flex-grow: 1;
  margin: 0 auto;
  padding-top: 55px;
  padding-bottom: 110px;
  width: 770px; }
  .page-order__list {
    margin: 0;
    margin-top:12px;
    padding: 0;
    list-style: none; }
  .page-order__item:not(:last-child) {
    margin-bottom: 20px; }

.order-item {
  padding: 0 40px;
  border: 1px solid #C2C2C2;
  height: 110px;
  overflow-y: hidden;   
  }
  .order-item--active {
    height: auto; }
  .order-item__wrapper {
    display: flex;
    flex-wrap: wrap; 
    padding-top: 35px;
    padding-bottom: 35px; }
    .order-item__wrapper:not(:last-child) {
      border-bottom: 1px solid #c2c2c2; }
  .order-item__group {
    width: 250px; /* 195px changed APG */
    font-size: 18px;
    line-height: 18px;
    color: #393939; }
    .order-item__group:first-child {
      width: 280px; /* 435 px  changed APG */
      padding-right: 15px; }
    .order-item__group--margin {
      margin-bottom: 30px; }
    .order-item__group--status {
      /* margin-left: 43px;  changed APG */
    }
    .order-item__group--pay {
      margin-left: 30px; /* added APG */
    }
  .order-item__title {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 18px;
    color: #787B7F; }
  .order-item__info {
    vertical-align: middle; }
    .order-item__info--id::before {
      content: 'id: '; }
    .order-item__info--yes {
      color: #00B653; }
    .order-item__info--no {
      color: #FF0000; }
  .order-item__btn, .order-item__btnpay {
    border: 0;
    padding: 0;
    font: inherit;
    background-color: transparent;
    display: inline-block;
    padding: 0 10px;
    font-size: 10px;
    line-height: 18px;
    color: #fff;
    vertical-align: middle;
    background-color: #E45446;
    border-radius: 2px;
    cursor: pointer; }
    .order-item__btn:focus, .order-item__btnpay:focus {
      outline: none; }
  .order-item__toggle {
    border: 0;
    padding: 0;
    font: inherit;
    background-color: transparent;
    align-self: center;
    margin-left: auto;
    width: 20px;
    height: 12px;
    background: url("data:image/svg+xml,%3Csvg width='22' height='15' viewBox='0 0 22 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L11 13L21 1' stroke='%23E45446' stroke-width='2'/%3E%3C/svg%3E%0A") center no-repeat;
    background-size: contain;
    cursor: pointer;
    transition: all 300ms; }
    .order-item__toggle:focus {
      outline: none; }
    .order-item__toggle--active {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
.breadcrumb{background-color: #fff;}
/* на странице оформления заказа */
.checkbox input[type="checkbox"] {
  position: absolute;
  top:30px;
}
.checkbox label {
  padding-top:26px;
}